.bg {
  position: relative;
  display: inline-block;

  background-image: url(~assets/tower/assets.png);
  width: 16px;
  height: 16px;
  filter: brightness(250%) hue-rotate(240deg);

  &.wt0 { background-position: 0 0; }
  &.wt1 { background-position: -16px 0; }
  &.wt2 { background-position: -32px 0; }

  &.w0 { background-position: 0 -16px; }
  &.w1 { background-position: -16px -16px; }
  &.w2 { background-position: -32px -16px; }

  &.w3 { background-position: -48px 0; }
  &.w4 { background-position: -64px 0; }
  &.w5 { background-position: -64px -16px; }
  &.w6 { background-position: -64px -32px; }
  &.w7 { background-position: -64px -48px; }
  &.w8 { background-position: -80px -48px; }

  &.f0 { background-position: 0 -32px; }
  &.f1 { background-position: -16px -32px; }
  &.f2 { background-position: -32px -32px; }

  &.f {
    &.lu { background-position: 0 -96px; }
    &.u0 { background-position: -16px -96px; }
    &.u1 { background-position: -32px -96px; }
    &.ru { background-position: -48px -96px; }
    &.l { background-position: 0 -112px; }
    &.r { background-position: -48px -112px; }
    &.c0 { background-position: -32px -112px; }
    &.c1 { background-position: -32px -112px; }
    &.ld { background-position: 0 -128px; }
    &.d0 { background-position: -16px -128px; }
    &.d1 { background-position: -32px -128px; }
    &.rd { background-position: -48px -128px; }
  }
}
.e {
  position: relative;
  display: inline-block;

  background-image: url(~assets/tower/assets.png);
  width: 16px;
  height: 16px;

  filter: brightness(150%);

  @for $i from 0 through 17 {
    $x: $i % 6;
    $y: floor($i / 6);

    &.e#{$i} {
      background-position: #{-$x * 16} + px #{-($y + 9) * 16} + px;
    }
  }

  &.b {
    width: 32px;
    height: 32px;
    @for $i from 0 through 2 {
      &.b#{$i} {
        background-position: #{-($i * 32 + 96)} + px -176px;
      }
    }
  }
}
