.maze-scene {
  position: relative;
  margin: 0 auto;
}
.maze-bg {
  font-size: 0;
}

.bg {
  position: relative;
  display: inline-block;
  background: url(~assets/maze/bg-tileset.png);
  width: 16px;
  height: 16px;

  &.lu { background-position: 0 0; }
  &.l0 { background-position: 0 -16px; }
  &.l1 { background-position: 0 -32px; }
  &.l2 { background-position: 0 -48px; }
  &.ld { background-position: 0 -64px; }
  &.u0 { background-position: -16px 0; }
  &.u1 { background-position: -32px 0; }
  &.u2 { background-position: -48px 0; }
  &.u3 { background-position: -64px 0; }
  &.ru { background-position: -80px 0; }
  &.r0 { background-position: -80px -16px; }
  &.r1 { background-position: -80px -32px; }
  &.r2 { background-position: -80px -48px; }
  &.rd { background-position: -80px -64px; }
  &.d0 { background-position: -16px -64px; }
  &.d1 { background-position: -32px -64px; }
  &.d2 { background-position: -48px -64px; }
  &.d3 { background-position: -64px -64px; }
  &.floor { background-position: -16px -16px; }
}
.bgo {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background: url(~assets/maze/bg-tileset.png);
  width: 16px;
  height: 16px;
  &.chest1 {
    animation: a-chest1 1s step-end 0s infinite;
    @keyframes a-chest1 {
      0%   { background-position: -16px -288px; }
      50%  { background-position: -32px -288px; }
    }
  }
  &.chest2 {
    animation: a-chest2 1s step-end 0s infinite;
    @keyframes a-chest2 {
      0%   { background-position: 0 -288px; }
      50%  { background-position: -48px -288px; }
    }
  }
  &.key1 { background-position: -128px -288px; }
  &.key2 { background-position: -144px -304px; }
  &.door { background-position: -288px -48px; }
  &.coin {
    animation: a-coin 1s linear 0s infinite;
    @keyframes a-coin {
      0% { background-image: url(~assets/maze/coin_1.png); }
      25% { background-image: url(~assets/maze/coin_2.png); }
      50% { background-image: url(~assets/maze/coin_3.png); }
      75% { background-image: url(~assets/maze/coin_4.png); }
      100% { background-image: url(~assets/maze/coin_1.png); }
    }
  }
  &.peak {
    background-image: url(~assets/maze/peaks_1.png);
  }
  &.mattock {
    background: url(~assets/maze/item-tileset.png);
    background-position: -144px -80px;
  }
  &.sword {
    background: url(~assets/maze/item-tileset.png);
    background-position: -112px -96px;
  }
  &.plus0-portion {
    background: url(~assets/maze/item-tileset.png);
    background-position: -48px 0;
  }
  &.random0-portion {
    background: url(~assets/maze/item-tileset.png);
    background-position: -48px -32px;
  }
  &.plus-portion {
    background: url(~assets/maze/item-tileset.png);
    background-position: 0 0;
  }

  &.e0 {
    background: url(~assets/maze/enemies.png);
    width: 32px;
    height: 32px;
    transform: translate(-6px, -10px) scale(-1, 1) ;
    animation: e0-idle .8s step-end 0s infinite;
    @keyframes e0-idle {
      0%   { background-position: 0 -128px; }
      25%  { background-position: -40px -128px; }
      50%  { background-position: -80px -128px; }
      75%  { background-position: -120px -128px; }
      100% { background-position: 0 -128px; }
    }
  }
  &.e1 {
    background: url(~assets/maze/enemies.png);
    width: 32px;
    height: 32px;
    transform: translate(-6px, -14px) scale(-1, 1) ;
    animation: e1-idle .6s step-end 0s infinite;
    @keyframes e1-idle {
      0%   { background-position: 0 0; }
      25%  { background-position: -40px 0; }
      50%  { background-position: -80px 0; }
      75%  { background-position: -120px 0; }
      100% { background-position: 0 0; }
    }
  }
  &.e2 {
    background: url(~assets/maze/enemies.png);
    width: 32px;
    height: 32px;
    transform: translate(-6px, -10px) scale(-1, 1);
    animation: e2-idle 1s step-end 0s infinite;
    @keyframes e2-idle {
      0%   { background-position: 0 -64px; }
      25%  { background-position: -40px -64px; }
      50%  { background-position: -80px -64px; }
      75%  { background-position: -120px -64px; }
      100% { background-position: 0 -64px; }
    }
  }
  &.e3 {
    background: url(~assets/maze/enemies.png);
    width: 32px;
    height: 32px;
    transform: translate(-6px, -12px) scale(-1, 1);
    animation: e3-idle 1s step-end 0s infinite;
    @keyframes e3-idle {
      0%   { background-position: 0 -32px; }
      25%  { background-position: -40px -32px; }
      50%  { background-position: -80px -32px; }
      75%  { background-position: -120px -32px; }
      100% { background-position: 0 -32px; }
    }
  }
  &.e4 {
    background: url(~assets/maze/enemies.png);
    width: 32px;
    height: 32px;
    transform: translate(-6px, -12px) scale(-1, 1);
    animation: e4-idle 1s step-end 0s infinite;
    @keyframes e4-idle {
      0%   { background-position: 0 -96px; }
      25%  { background-position: -40px -96px; }
      50%  { background-position: -80px -96px; }
      75%  { background-position: -120px -96px; }
      100% { background-position: 0 -96px; }
    }
  }
}

.item {
  position: absolute;

  &.console {
    position: relative;
  }

  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(~assets/maze/item-tileset.png);
  &.plus-portion { background-position: 0 0; }
  &.mattock { background-position: -144px -80px; }
  &.sword { background-position: -112px -96px; }
  &.key1 {
    background: url(~assets/maze/bg-tileset.png);
    background-position: -128px -288px;
  }
  &.key2 {
    background: url(~assets/maze/bg-tileset.png);
    background-position: -144px -304px;
  }
  &.coin {
    background-image: url(~assets/maze/coin_1.png);
  }
}

.p {
  position: absolute;
  width: 32px;
  height: 32px;

  &.i {
    animation: idle 1s linear 0s infinite;
    @keyframes idle {
      0% { background-image: url(~assets/maze/Knight_Idle_1.png); }
      25% { background-image: url(~assets/maze/Knight_Idle_2.png); }
      50% { background-image: url(~assets/maze/Knight_Idle_3.png); }
      75% { background-image: url(~assets/maze/Knight_Idle_4.png); }
      100% { background-image: url(~assets/maze/Knight_Idle_1.png); }
    }
  }

  &.w {
    animation: idle 1s linear 0s infinite;
    @keyframes idle {
      0% { background-image: url(~assets/maze/Knight_Walk_1.png); }
      25% { background-image: url(~assets/maze/Knight_Walk_2.png); }
      50% { background-image: url(~assets/maze/Knight_Walk_3.png); }
      75% { background-image: url(~assets/maze/Knight_Walk_4.png); }
      100% { background-image: url(~assets/maze/Knight_Walk_1.png); }
    }
  }
}
